header#score-section {
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.score-display {
  display: flex;
  gap: 15px;
}

.score-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
#score-player-1 {
  background-color: red;
}
#score-player-2 {
  background-color: green;
}
#timer-bomb {
  font-size: 2.5rem;
}
#sound-toggle-header {
  position: absolute;
  top: 24px;
  right: 50px;
  width: 44px;
  height: 44px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 1px solid white; */
  cursor: pointer;
}

#sound-toggle-header.sound-off {
  background-image: url(/assets/volume-button-off.png);
}
#sound-toggle-header.sound-on {
  background-image: url(/assets/volume-button.png);
}

@media screen and (width < 1024px) {
  #score-section {
    display: none;
  }
}
