header#score-section {
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}
.score-display {
  display: flex;
  gap: 15px;
}
.score-circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid white;
}
.inactive-score {
  background-color: transparent;
}
.active-score {
  background-color: #fff;
}

#score-player-1 {
}
#score-player-2 {
}
#timer-bomb span {
  font-size: 2.5rem;
}
